<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Einstellungen</h1>

      <div class="alert alert-warning" ng-show="ctrl.message">
        <a class="close" ng-click="ctrl.closeMessage()" aria-label="close">&times;</a>
        <strong>Achtung:</strong> {{ctrl.message}}
      </div>

      <form class="form" name="changeName" ng-submit="ctrl.changeName()" novalidate>
        <h2>Name ändern</h2>
        <div class="form-group">
          <label>Neuer Name</label>
          <input type="text" name="newName" class="form-control" ng-model="ctrl.name">
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Speichern</button>
      </form>

      <hr>

      <form class="form" name="changeMail" ng-submit="ctrl.changeMail()" novalidate>
        <h2>Email ändern</h2>
        <div class="form-group">
          <label>Neue Email</label>
          <input type="text" name="newMail" class="form-control" ng-model="ctrl.mail">
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Speichern</button>
      </form>

      <hr>

      <form class="form" name="changePW" ng-submit="ctrl.changePw()" novalidate>
        <h2>Passwort ändern</h2>
        <div class="form-group">
          <label>Neues Passwort</label>
          <input type="password" name="password" class="form-control" ng-model="ctrl.password" ng-minlength="8">
          <p class="help-block"
             ng-show="(changePW.password.$error.minlength || changePW.password.$error.required) && form.newPassword.$dirty">
            Passwort muss mindestens 8 Zeichen lang sein.
          </p>
        </div>

        <div class="form-group">
          <label>Passwort bestätigen</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="ctrl.confirmPassword"
                 ng-minlength="8">
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Speichern</button>
      </form>
    </div>
  </div>
</div>
