ul.menu {
  position: absolute;
}

img.icon {
  height: 64px;
}

.handles {
  margin-top: 5px;
}

.total_sum {
  padding-top: 15px;
}

.price:after {
  content: '€';
}

.my_modal {
  border: 1px solid black;
  border-radius: 5px;
}

.top-buffer {
  margin-top: 30px;
}

#history {
  ul {
    list-style: none;
    display: inline-block;
  }

  .entry {
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
  }
}

#checkin_result {
  .form-control {
    background-color: inherit !important;
  }
}
