<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Neuer Eintrag</h2>

      <div>
        <div class="row" ng-show="ctrl.step == 1">
          <div class="col-md-5">
            <div class="row">
              <h3>Erwachsen</h3>
              <img src="../../assets/images/adult.png" class="icon">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field=""
                          ng-click="ctrl.decrementCount('adult')">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control input-number" min="0" max="100"
                       data-ng-model="ctrl.countAdult">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field=""
                          ng-click="ctrl.incrementCount('adult')">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>

            <div class="row top-buffer">
              <h3>DLRG OG Gö Mitglied</h3>
              <img src="../../assets/images/logo_dlrg.jpg" class="icon">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field=""
                          ng-click="ctrl.decrementCount('dlrg')">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control input-number" min="0" max="100"
                       data-ng-model="ctrl.countDlrg">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field=""
                          ng-click="ctrl.incrementCount('dlrg')">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-offset-1 col-md-5">
            <div class="row">
              <h3>Kind</h3>
              <img src="../../assets/images/children.png" class="icon">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field=""
                          ng-click="ctrl.decrementCount('child')">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control input-number" min="0" max="100"
                       data-ng-model="ctrl.countChild">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field=""
                          ng-click="ctrl.incrementCount('child')">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>

            <div class="row top-buffer" ng-show="ctrl.vip">
              <h3>VIP</h3>
              <img src="../../assets/images/vip.png" class="icon">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field=""
                          ng-click="ctrl.decrementCount('vip')">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control input-number" min="0" max="100"
                       data-ng-model="ctrl.countVip">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" data-type="plus" data-field=""
                          ng-click="ctrl.incrementCount('vip')">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <form name="address" ng-show="ctrl.step == 2">
          <div class="row">
            <div class="form-group">
              <label for="paidMoney">Bezahlt</label>
              <input type="text" class="form-control" id="paidMoney" ng-model="ctrl.paidMoney">
            </div>
            <div class="form-group">
              <label for="price">Preis</label>
              <input type="text" class="form-control" id="price" value="{{ctrl.sum}}" readonly>
            </div>
            <div class="form-group">
              <label for="returnMoney">Rückgeld</label>
              <input type="text" class="form-control" id="returnMoney" value="{{ctrl.paidMoney - ctrl.sum}}" readonly>
            </div>
          </div>
          <div class="row" ng-show="ctrl.sum >= 150">
            <div class=" col-md-8">
              <div class="form-group">
                <label>Geschlecht</label>

                <div class="radio"
                     ng-class="{'has-error': !address.billing_gender.$valid && address.billing_gender.$touched}">
                  <label class="radio-inline">
                    <input type="radio" name="billing_gender" required ng-model="ctrl.billing.gender"
                           value="m">
                    männlich
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="billing_gender" required ng-model="ctrl.billing.gender"
                           value="w">
                    weiblich
                  </label>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group"
                         ng-class="{'has-error': !address.billing_firstname.$valid && address.billing_firstname.$touched}">
                      <label>Vorname</label>
                      <input type="text" name="billing_firstname" class="form-control"
                             ng-model="ctrl.billing.firstname" placeholder="Vorname" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group"
                         ng-class="{'has-error': !address.billing_lastname.$valid && address.billing_lastname.$touched}">
                      <label>Nachname</label>
                      <input type="text" name="billing_lastname" class="form-control"
                             ng-model="ctrl.billing.lastname"
                             placeholder="Nachnamen" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Firma</label>
                      <input type="text" name="billing_company" class="form-control"
                             ng-model="ctrl.billing.company"
                             placeholder="Firma (optional)">
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': !address.billing_street.$valid && address.billing_street.$touched}">
                      <label>Straße/Hausnr.</label>
                      <input type="text" name="billing_street" class="form-control"
                             ng-model="ctrl.billing.street"
                             placeholder="Straße" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">

                    <div class="form-group"
                         ng-class="{'has-error': !address.billing_zip.$valid && address.billing_zip.$touched}">
                      <label>Postleitzahl</label>
                      <input type="text" name="billing_zip" class="form-control"
                             ng-model="ctrl.billing.zip"
                             placeholder="Postleitzahl" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': !address.billing_city.$valid && address.billing_city.$touched}">
                      <label>Stadt</label>
                      <input type="text" name="billing_city" class="form-control" ng-model="ctrl.billing.city"
                             placeholder="Stadt" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-show="ctrl.step == 3">
            <label>
              <input type="checkbox" ng-model="ctrl.billing.printed"
                     ng-init="cashCtrl.deliveryType = false" name="billing_printed">
              Rechnung gedruckt
            </label>
          </div>
        </form>

        <div class="row handles" ng-show="ctrl.step < 3">
          <button class="btn btn-default col-md-2" ng-click="ctrl.reset()">Eingaben löschen</button>
          <p class="total_sum col-md-2 col-md-offset-3">
            <strong>Summe: <span class="price">{{ctrl.sum}}</span></strong>
          </p>
          <button class="btn btn-success col-md-2 col-md-offset-3" ng-click="ctrl.nextStep()"
                  ng-disabled="(ctrl.step == 1 && ctrl.sum == 0) || (ctrl.step == 2 && !address.$valid && ctrl.sum >= 150) || (ctrl.step == 2 && ctrl.paidMoney < ctrl.sum)"
                  context-menu="ctrl.menuOptions">
            Weiter
          </button>
        </div>
      </div>

      <div class="alert alert-warning" ng-show="ctrl.step == 3">
        <h3 class="modal-title">Rechnung drucken</h3>
        <p>Bitte die Rechnung <b>doppelt</b> ausdrucken!</p>
        <ul>
          <li>Ein Exemplar wird abgeheftet</li>
          <li>Ein Exemplar bekommt der Teilnehmer für die Anmeldung</li>
        </ul>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="ctrl.nextStep()">Ok</button>
        </div>
      </div>
    </div>

    <div id="history" class="col-md-4">
      <h2>Verlauf</h2>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Preis</th>
          <th>Uhrzeit</th>
          <th>Drucken</th>
        </tr>
        <tr ng-repeat="booking in ctrl.history | orderBy:'-id'" context-menu="ctrl.menuOptions">
          <td class="">{{booking.id}}</td>
          <td class="">{{booking.rechnung.rechnungsbetrag}}</td>
          <td> {{booking.date | date : 'HH:mm:ss'}}
          <td><a href="../../../server/Rechnungen/24h-{{booking.rechnung.id}}Rechnung.pdf"
                 target="24h-Rechnung">Drucken</a>
          </td>
      </table>
    </div>
  </div>

  <div class="row top-buffer">
    <h2>Teilnehmer anmelden</h2>
    <form class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="TN Code" ng-model="ctrl.code"
               ng-click="ctrl.resetTN()">
        <span class="input-group-btn">
        <input class="btn btn-success" type="submit" value="Überprüfen" ng-click="ctrl.checkTN()">
      </span>
      </div>
    </form>
  </div>

  <div class="row" ng-show="ctrl.error || ctrl.name" id="checkin_result">
    <div class="alert form-horizontal {{ctrl.error ? 'alert-danger' : 'alert-success'}}">
      <a class="close" aria-label="close" ng-click="ctrl.resetTN()">&times;</a>
      <h2>{{ctrl.error ? 'Ungültig' : 'Gültig'}}</h2>
      <div class="form-group" ng-show="ctrl.name">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <span class="form-control">{{ctrl.name}}</span>
        </div>
      </div>
      <div class="form-group" ng-show="ctrl.age">
        <label class="col-sm-2 control-label">Geburtstag</label>
        <div class="col-sm-10">
          <span class="form-control">{{ctrl.age | date:'dd. MMM yyyy'}}</span>
        </div>
      </div>
      <div class="form-group" ng-show="ctrl.gender">
        <label class="col-sm-2 control-label">Geschlecht</label>
        <div class="col-sm-10">
          <span class="form-control">{{ctrl.gender}}</span>
        </div>
      </div>
      <div class="form-group" ng-show="ctrl.time">
        <label class="col-sm-2 control-label">Uhrzeit</label>
        <div class="col-sm-10">
          <span class="form-control">{{ctrl.time}}</span>
        </div>
      </div>
      <div class="form-group" ng-show="ctrl.error">
        <label class="col-sm-2 control-label">Fehler</label>
        <div class="col-sm-10">
          <span class="form-control">{{ctrl.error}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
