<div class="container">
  <div class="jumbotron"><h1>Einkaufswagen</h1></div>
  <div ng-hide="cashCtrl.showAddressForm" id="overview">
    <div class="row">
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Geburtsdatum</th>
              <th>Eintrittspreis <sup>1)</sup></th>
              <th colspan="{{cashCtrl.foodListCount}}" class="text-center">Essen <sup>2)</sup></th>
              <th>Summe</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th ng-repeat="food in cashCtrl.foodList">{{food.name.charAt(0)}}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="participant in cashCtrl.participantList" calc-sum>
              <td ng-bind-html="participant.vorname"></td>
              <td ng-bind-html="participant.nachname"></td>
              <td>{{participant.gebDate | date: 'dd.MM.yyyy'}}</td>
              <td>
                <div ng-repeat="price in cashCtrl.preSell" ng-show="participant.hasInvoiceItem(price.id)">
                  <i class="price"> {{participant.getInvoiceItem(price.id).preis}}</i>
                </div>
              </td>
              <td ng-repeat="food in cashCtrl.foodList">
                <div ng-show="participant.hasInvoiceItem(food.id)">
                  <i class="price">{{food.preis}}</i>
                </div>
              </td>
              <td><i class="price sum">{{participant.getInvoiceSum()}}</i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <p class="total_sum">
          <strong>Summe: <span class="price"></span></strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left text-info">
        <div>
          <p ng-repeat="(key, billHint) in cashCtrl.billHints">
            <sup>{{key}})</sup>
            <small><span ng-bind-html="billHint"></span></small>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a ui-sref="registration" ng-click="cashCtrl.goBack()" class="btn btn-default">Zurück</a>
      </div>
      <div class="col-md-2 col-md-offset-8">
        <a ng-click="cashCtrl.showAddressForm = true" class="btn btn-success">Weiter</a>
      </div>
    </div>
  </div>
  <form name="form" id="addressForm" ng-show="cashCtrl.showAddressForm" ng-submit="cashCtrl.submit(form)">
    <div class="row">
      <div class="col-md-6">
        <h2>Rechnungsadresse</h2>
                <span>
                    <button class="btn-link" ng-click="cashCtrl.clearForm(form)">Eingaben löschen</button>
                </span>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-8">
        <div class="form-group">
          <label>Geschlecht</label>

          <div class="radio"
               ng-class="{'has-error': !form.billing_gender.$valid && form.billing_gender.$touched}">
            <label class="radio-inline">
              <input type="radio" name="billing_gender" required ng-model="cashCtrl.billing.gender"
                     value="m">
              männlich
            </label>
            <label class="radio-inline">
              <input type="radio" name="billing_gender" required ng-model="cashCtrl.billing.gender"
                     value="w">
              weiblich
            </label>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group"
                   ng-class="{'has-error': !form.billing_firstname.$valid && form.billing_firstname.$touched}">
                <label>Vorname</label>
                <input type="text" name="billing_firstname" class="form-control"
                       ng-model="cashCtrl.firstname" placeholder="Vorname" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group"
                   ng-class="{'has-error': !form.billing_lastname.$valid && form.billing_lastname.$touched}">
                <label>Nachname</label>
                <input type="text" name="billing_lastname" class="form-control"
                       ng-model="cashCtrl.lastname"
                       placeholder="Nachnamen" required>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group"
                   ng-class="{'has-error': !form.billing_mail.$valid && form.billing_mail.$touched}">
                <label>Email</label>
                <input type="email" name="billing_mail" class="form-control"
                       ng-model="cashCtrl.mail"
                       placeholder="Email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Firma</label>
                <input type="text" name="billing_company" class="form-control"
                       ng-model="cashCtrl.company"
                       placeholder="Firma (optional)">
              </div>
              <div class="form-group"
                   ng-class="{'has-error': !form.billing_street.$valid && form.billing_street.$touched}">
                <label>Straße/Hausnr.</label>
                <input type="text" name="billing_street" class="form-control"
                       ng-model="cashCtrl.street"
                       placeholder="Straße" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <div class="form-group"
                   ng-class="{'has-error': !form.billing_zip.$valid && form.billing_zip.$touched}">
                <label>Postleitzahl</label>
                <input type="text" name="billing_zip" class="form-control"
                       ng-model="cashCtrl.billing.zip"
                       placeholder="Postleitzahl" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"
                   ng-class="{'has-error': !form.billing_city.$valid && form.billing_city.$touched}">
                <label>Stadt</label>
                <input type="text" name="billing_city" class="form-control" ng-model="cashCtrl.city"
                       placeholder="Stadt" required>
              </div>
            </div>
          </div>

          <div class="checkbox"
               ng-class="{'has-error': !form.billing_sendType.$valid && form.billing_sendType.$touched}">
            <label>
              <input type="checkbox" ng-model="cashCtrl.deliveryType"
                     ng-init="cashCtrl.deliveryType = false" name="billing_sendType">
              Ich
              möchte die Karten an der Kasse abholen
            </label>
            <div ng-show="cashCtrl.deliveryType" class="bs-callout bs-callout-warning">
              <h4>Längere Wartezeiten</h4>

              <p>Durch die Selbstabholung an der Kasse müssen Sie vor Ort mit längeren Wartezeiten rechnen!</p>
            </div>
            <div ng-show="cashCtrl.deliveryType" class="bs-callout bs-callout-warning">
              <h4>Legitimation</h4>
              <p>
                Bitte legen Sie bei der Abholung der Karten zur Legitimation Ihren Personalausweis bzw. Reisepass vor
                oder erteilen Sie dem Abholer eine formlose Vollmacht zur Abholung der bestellten Karten.
              </p>
              <p>Wir bitten um Verständnis, dass ohne Legitimation hinterlegte Karten nicht ausgehändigt werden
                können!"</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="text-center">
        <div class="checkbox">
          <label>
            <input type="checkbox" required ng-model="cashCtrl.terms"> Ich akzeptiere die <a class="btn-link"
                                                                                             target="_blank"
                                                                                             ui-sref="participation">Teilnahmebedingungen</a>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" required ng-model="cashCtrl.privacy"> Ich akzeptiere die <a class="btn-link"
                                                                                               target="_blank"
                                                                                               ui-sref="privacy ">Datenschutzerklärung</a>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" required ng-model="cashCtrl.age"> Ich bin <span id="age"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a ng-click="cashCtrl.hideAddressForm()" class="btn btn-default">Zurück</a>
      </div>
      <div class="col-md-2 col-md-offset-8">
        <p class="total_sum">
          <strong>Gesammtsumme: <span class="price" id=""></span></strong>
        </p>
        <button class="btn btn-warning" ng-hide="form.$valid" type="submit">Kostenpflichtig Bestellen
        </button>
        <button class="btn btn-success" ng-show="form.$valid"
                type="submit">Kostenpflichtig Bestellen
        </button>
      </div>
    </div>
  </form>

</div>
