<div class="modal-content">
  <form id="groupForm" name="groupForm" ng-submit="groupFCtrl.submitt(groupForm)">
    <div class="modal-header">
      <h4 class="modal-title">Gruppe/Familie erstellen</h4>
    </div>
    <div class="modal-body">


      <div class="form-group">
        <label>
          Name
        </label>
        <input type="text" name="name" class="form-control" ng-model="modalCtrl.name" required>
      </div>
      <div class="form-group">
        <label>Type:</label>
        <select ng-options="key as value for (key, value) in modalCtrl.options" ng-model="modalCtrl.selected"
                class="form-control" required></select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="pull-left btn btn-warning" type="button" ng-click="modalCtrl.cancel()">Abbrechen</button>
      <button ng-show="groupForm.$valid" type="submit" class="pull-right btn btn-primary" ng-click="modalCtrl.click()">
        Erstellen
      </button>
      <button ng-hide="groupForm.$valid" type="submit" class="pull-right btn btn-primary disabled"
              ng-click="modalCtrl.click()">Erstellen
      </button>
    </div>
  </form>
</div>




