<form id="ssBillingForm" name="form">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group" ng-class="{'has-error': !form.billingNr.$valid && form.billingNr.$touched}">
        <label>
          Rechnungsnummer:
        </label>
        <input type="text" name="billingNr" placeholder="Rechnungsnummer" class="form-control"
               ng-model="listCtrl.billingNr" ng-pattern="/^(24h-[1-9][0-9]?[0-9]?[0-9]?)$/" required>
        <span class="alert-danger" ng-show="form.billingNr.$error.pattern && form.billingNr.$touched">
              Bitte geben Sie die Rechnungsnummer in dem Format 24h-[1-99999] an!</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" ng-class="{'has-error': !form.email.$valid && form.email.$touched}">
        <label>
          Email:
        </label>
        <input type="email" name="email" placeholder="Email" class="form-control" ng-model="listCtrl.email" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a ng-click="listCtrl.showParticipants()" class="btn btn-info" ng-class=" {'disabled' : !form.$valid}">Teilnehmer
        anzeigen</a>
    </div>
  </div>
</form>
<hr>
<div class="row">
  <div class="bs-callout bs-callout-error" ng-show="listCtrl.participantList.length == 0">
    <h4>Buchung nicht gefunden</h4>
    <p>Zu den von Ihnen eingegbenen Daten haben wir leider keine Buchung gefunden.</p>
  </div>
  <table class="table table-striped table-responsive" ng-show="listCtrl.participantList.length > 0">
    <tr>
      <th>Nr.</th>
      <th>Name</th>
      <th>Geburtsdatum</th>
      <th>Gruppe(n)</th>
      <th>Einnahme(n)</th>
      <th>Gö-Challenge</th>
    </tr>
    <tr ng-repeat="participant in listCtrl.participantList">
      <td>{{participant.id}}</td>
      <td ng-bind-html="participant.vorname + ' ' + participant.nachname"></td>
      <td>{{participant.gebDate | date: 'dd.MM.yyyy'}}</td>
      <td>
        <table class="table table-striped" ng-show="participant.groups.length > 0">
          <tr>
            <th>Name</th>
            <th>Typ</th>
          </tr>
          <tr ng-repeat="grp in participant.groups">
            <td ng-bind-html="grp.name"></td>
            <td ng-bind-html="grp.kategorieName"></td>
          </tr>
        </table>
      </td>
      <td>
        <table class="table table-striped" ng-show="participant.einnahmen.length > 0">
          <tr>
            <th>Name</th>
            <th>Preis</th>
          </tr>
          <tr ng-repeat="ein in participant.einnahmen">
            <td ng-bind-html="ein.name"></td>
            <td ng-bind-html="ein.preis + '€'"></td>
          </tr>
        </table>
      </td>
      <td>
        <table class="table table-striped" ng-show="participant.challenges.length > 0">
          <tr>
            <th>Strecke (m)</th>
            <th>Erwartete Zeit (mm:ss)</th>
          </tr>
          <tr ng-repeat="challenge in participant.challenges">
            <td ng-bind-html="challenge.strecke"></td>
            <td>{{challenge.zeitErwartet | millisecondToDate | date: 'mm:ss'}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

