<div class="container">
  <div class="row">
    <p>Buchungssystem Schwimmfestival Göttingen v. 1.1.1</p>
  </div>
  <div class="row">
    <a ui-sref="participation" target="_blank">Teilnahmebedingungen</a> |
    <a ui-sref="privacy" target="_blank">Datenschutzerklärung</a> |
    <a href="https://schwimmfestival.de/impressum.html" target="_blank">Impressum</a>
  </div>

</div>
