<div>
  <ul>
    <li>Teilnehmen darf jeder, der 100m am Stück schwimmen kann</li>
    <li>keine Altersbeschränkung</li>
    <li>Teilnehmen können Einzelstarter und Mannschaften, Vereine, Firmen und Familien</li>
    <ul>
      <li>Mannschaften können aus Männern und Frauen bestehen (5 - 15 Personen)</li>
      <li>Familien bestehen aus Eltern (bzw. Lebenpartner) + Kindern / ohne Tanten, Onkel, Enkel, etc.</li>
    </ul>
    <li>die Teilnehmer können beliebig oft schwimmen, die erzielten Schwimmstrecken werden addiert</li>
    <li>kurze Wartezeiten an den Bahnen sind möglich</li>
    <li>die Verwendung von Neoprenanzügen ist, <b>mit Ausnahme der Gö-Challence</b>, erlaubt</li>
    <li>die Teilnehmer bekommen zur Erkennung eine Nummer auf die Schulter geschrieben</li>
    <ul>
      <li>alternativ können die Teilnehmer eine weiße Badekappe mitbringen, auf welche geschrieben werden kann</li>
    </ul>
    <li>im Rahmen der Gö-Challence können 400m bzw. 800m geschwommen werden; die Zeiten werden handgestoppt; es gilt das
      Reglement der <a target="_blank" href="http://www.goe-challenge.de/index.php/reglement">Gö-Challence</a></li>
    <li>Der Teilnehmer erkennt die <a ui-sref="privacy" target="_blank" class="btn-link">Datenschutzerklärung</a> an.
    </li>
    <li>Es gilt die jeweilige Hausordnung des Veranstaltungsortes.</li>
    <li>Vorname, Nachname, geschwommene Strecke und geschwommene Zeit (Gö-Challenge) dürfen vom Veranstalter
      veröffentlicht werden.
    </li>
    <li>Bei Teilnahme an der Gö-Challenge dürfen die Daten des Teilnehmers an die GöSF übermittelt werden.</li>
    <li>Urkunden können mit Namen und Geburtsdatum auf der Webseite der Veranstaltung abgerufen und ausgedruckt
      werden.
    </li>
    <li>Während der Veranstaltung können von den Teilnehmern/-innen Foto- und Filmaufnahmen angefertigt werden. Die
      Aufnahmen dienen der Darstellung der Veranstaltung in den Medien. Ihre Veröffentlichung bedarf im Regelfall keiner
      zusätzlichen Einwilligung der aufgenommenen Personen. Weder von dem Fotografen, noch von den auf dem Foto
      dargestellten Personen können Honoraransprüche oder Ansprüche auf Namensnennung bei der Veröffentlichung erhoben
      werden.
    </li>
  </ul>
</div>
