<div class="container-float" ui-view="">
  <div class="row">
    <h1 class="jumbotron">Buchungen</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Filter" ng-model="query">

          </div>

        </div>
      </form>
    </div>
    <div class="col-md-3">
      <select ng-model="ctrl.selectedFilter"
              class="form-control" ng-change="ctrl.updateList()">
        <option value="offen">offen</option>
        <option value="barkasse">Barkasse</option>
        <option value="rechnung">Rechnung</option>
        <option value="storniert">storniert</option>

      </select>
    </div>

  </div>
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Empfänger</th>
        <th>Anz. Teilnehmer</th>
        <th>Status</th>
        <th>Versandart</th>
        <th>Datum</th>
        <th>Aktionen</th>
      </tr>
      <tr ng-repeat="buchung in ctrl.dataList | filter:query |orderBy: 'datum'">
        <td>{{buchung.id}}</td>
        <td ng-bind-html="buchung.getEmpfaenger()"></td>
        <td> {{buchung.teilnehmer.length}}</td>
        <td> {{buchung.status}}</td>
        <td> {{buchung.versandart}}</td>
        <td> {{buchung.date | date:"dd.MM.yyyy (HH:mm:ss)"}}</td>

        <td>
          <div class="btn-group pull-left">
            <!-- Visible without edit mode -->
            <button class="btn " ng-click="ctrl.sendWarning(buchung)"
                    ng-class=" {'btn-success': ctrl.validationSend , 'btn-default': !ctrl.validationSend}"
                    title="Validierungsmail neu schicken"
                    ng-show="buchung.status == 'offen'"><i class="fa fa-bell" aria-hidden="true"></i></button>
          </div>
          <div class="btn-group pull-right">
            <!-- Visible without edit mode -->

            <a class="btn btn-default" ng-click="ctrl.edit(buchung.id)">
              <span class="glyphicon glyphicon-edit "></span>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
