<div class="container">
  <div class="row">
    <h1 class="jumbotron">Buchung Bearbeiten</h1>
  </div>
  <div class="row" ng-if="ctrl.isInit">
    <form id="statusform" name="statusform" ng-submit="ctrl.saveStatus()">
      <div class="col-md-4">
        <div class="bs-callout bs-callout-info">
          <h3>Aktionen</h3>
          <div class="form-group">
            <a ng-click="ctrl.isEditing = true" ng-show="!ctrl.isEditing" class="btn btn-default">
              <i class="fa fa-edit" aria-hidden="true"></i> Bearbeiten
            </a>
            <button class="btn btn-danger" ng-show="ctrl.isEditing" ng-click="ctrl.cancelEditing(ctrl.id)">
              <i class="fa fa-times" aria-hidden="true"></i> Abbrechen
            </button>
            <button class="btn btn-success" ng-show="statusform.$valid && ctrl.isEditing" type="submit">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern
            </button>
            <a class="btn btn-default" ng-hide="ctrl.isEditing || ctrl.rechnung.id <= 0"
               href="../../../../server/Rechnungen/24h-{{ctrl.rechnung.id}}Rechnung.pdf"
               target="24h-Rechnung" title="Rechnung anzeigen">
              <i class="fa fa-eye" aria-hidden="true"></i> Rechnung</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bs-callout bs-callout-info">
          <h3>Buchungsstatus</h3>
          <input ng-disabled="true" ng-model="ctrl.buchung.status" class="form-control" ng-hide="ctrl.isEditing">
          <select ng-model="ctrl.buchung.status" ng-show="ctrl.isEditing"
                  class="form-control" ng-disabled="!ctrl.isEditing">
            <option value="offen">offen</option>
            <option value="storniert">storniert</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bs-callout bs-callout-info">
          <h3>Rechnungsstatus</h3>
          <input value="{{ctrl.rechnung.getStatus()}}" ng-disabled="true" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form name="form" id="addressForm" ng-submit="ctrl.saveAddress(form)">
      <div class="row">
        <div class="col-md-3">
          <h2>Rechnungsadresse</h2>
        </div>
        <div ng-show="ctrl.Auth.hasRole('admin')" class="col-md-4" style="margin-top: 34px;">
          <a ng-click="ctrl.isAddressEditing = true" ng-show="!ctrl.isAddressEditing">Bearbeiten</a>
          <button class="btn-link" ng-show="ctrl.isAddressEditing" type="submit"><i class="fa fa-floppy-o"></i>
            Speichern
          </button>
          <button class="btn-link" ng-show="ctrl.isAddressEditing" type="button" ng-click="ctrl.cancelEditing(ctrl.id)">
            <i
              class="fa fa-times"></i> Abbrechen
          </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-8">
          <div class="form-group">
            <label>Geschlecht</label>

            <div class="radio"
                 ng-class="{'has-error': !form.billing_gender.$valid && form.billing_gender.$touched}">
              <label class="radio-inline">
                <input type="radio" name="billing_gender" required ng-model="ctrl.adresse.gender"
                       value="m" ng-disabled="!ctrl.isAddressEditing">
                männlich
              </label>
              <label class="radio-inline">
                <input type="radio" name="billing_gender" required ng-model="ctrl.adresse.gender"
                       value="w" ng-disabled="!ctrl.isAddressEditing">
                weiblich
              </label>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group"
                     ng-class="{'has-error': !form.billing_firstname.$valid && form.billing_firstname.$touched}">
                  <label>Vorname</label>
                  <input type="text" name="billing_firstname" class="form-control" ng-disabled="!ctrl.isAddressEditing"
                         ng-model="ctrl.adresse.vorname" placeholder="Vorname" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group"
                     ng-class="{'has-error': !form.billing_lastname.$valid && form.billing_lastname.$touched}">
                  <label>Nachname</label>
                  <input type="text" name="billing_lastname" class="form-control" ng-disabled="!ctrl.isAddressEditing"
                         ng-model="ctrl.adresse.nachname"
                         placeholder="Nachnamen" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Firma</label>
                  <input type="text" name="billing_company" class="form-control" ng-disabled="!ctrl.isAddressEditing"
                         ng-model="ctrl.adresse.firma"
                         placeholder="Firma (optional)">
                </div>
                <div class="form-group"
                     ng-class="{'has-error': !form.billing_street.$valid && form.billing_street.$touched}">
                  <label>Straße/Hausnr.</label>
                  <input type="text" name="billing_street" class="form-control" ng-disabled="!ctrl.isAddressEditing"
                         ng-model="ctrl.adresse.strasse"
                         placeholder="Straße" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">

                <div class="form-group"
                     ng-class="{'has-error': !form.billing_zip.$valid && form.billing_zip.$touched}">
                  <label>Postleitzahl</label>
                  <input type="text" name="billing_zip" class="form-control"
                         ng-model="ctrl.adresse.plz" ng-disabled="!ctrl.isAddressEditing"
                         placeholder="Postleitzahl" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"
                     ng-class="{'has-error': !form.billing_city.$valid && form.billing_city.$touched}">
                  <label>Stadt</label>
                  <input type="text" name="billing_city" class="form-control" ng-model="ctrl.adresse.ort"
                         placeholder="Stadt" required ng-disabled="!ctrl.isAddressEditing">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Teilnehmer</h2>
      <table class="table table-striped table-responsive">
        <tr>
          <th>Id</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Geb.-Datum</th>
          <th>Verpflegung</th>
          <th>Aktionen</th>
        </tr>
        <tr ng-repeat="tn in ctrl.buchung.teilnehmer">
          <td>{{tn.id}}</td>
          <td ng-bind-html="tn.vorname"></td>
          <td ng-bind-html="tn.nachname"></td>
          <td>{{tn.gebDate | date: 'dd.MM.yyyy'}}</td>
          <td>
            <span ng-show="tn.hasBreakfast()">F | </span>
            <span ng-show="tn.hasLunch()">M | </span>
            <span ng-show="tn.hasDinner()">A</span>
          </td>
          <td>
            <div class="btn-group pull-right">
              <!-- Visible without edit mode -->

              <button class="btn " ui-sref="dashboard.teilnehmer.edit({id: {{tn.id}}})"><span
                class="glyphicon glyphicon-edit "></span></button>

            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
