$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/web-fonts-with-css/scss/fontawesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  padding-top: 10px;
}

navbar .container {
  padding-top: 0;
}

.jumbotron {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bs-callout {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-warning h4 {
  color: #1b809e;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}

.bs-callout-warning h4 {
  color: #aa6708;
}

.bs-callout-error {
  border-left-color: red;
}

.bs-callout-error h4 {
  color: red;
}

.bs-callout-success {
  border-left-color: #3c763d;
}

.bs-callout-success h4 {
  color: #3c763d;
}

.btn-icon {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 4px;

}

.btn-h3 {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-transparent {
  background: transparent;
  border: none;
  margin-bottom: 0;
}

.ats-switch {
  margin-left: 10px;
}

// Component styles are injected through grunt
// injector
@import 'anmeldung/anmeldung.scss';
@import 'cashpoint/cashpoint.scss';
@import 'dashboard/buchungen/buchungen.scss';
@import 'dashboard/buchungenEdit/buchungenEdit.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/editUser/editUser.scss';
@import 'dashboard/rechnungen/rechnungen.scss';
@import 'dashboard/strecken/strecken.scss';
@import 'dashboard/teilnehmer/teilnehmer.scss';
@import 'dashboard/teilnehmerEdit/teilnehmerEdit.scss';
@import 'legal/participation/participation.scss';
@import 'legal/privacy/privacy.scss';
@import 'main/main.scss';
@import 'registration/registration.scss';
@import 'selfservice/selfservice.scss';
@import 'success/success.scss';
@import 'tageskasse/tageskasse.scss';
@import '../components/dashnav/dashnav.scss';
@import '../components/directives/teilname/teilname.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
