#response {
  margin-top: 15px;
}

.error {
  outline-color: red;
  border-color: red;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
  -webkit-transition: 400ms ease-in-out all;
  -moz-transition: 400ms ease-in-out all;
  -o-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
  display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
