<div class="container">
  <div class="row"><h1>Strecken eintragen</h1></div>

  <div class="row">
    <div class="col-md-3">

    </div>
  </div>

  <div class="row">
    <form name="barcodeForm" ng-submit="ctrl.searchBarcode(barcodeForm)">
      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" ng-pattern="/^([1-9]\d|[0-9]\d{3,})(X|Y)([1-9]\d{3,})$/" placeholder="Barcode"
                   ng-model="ctrl.barcode" name="code" type="text" required
                   ng-class="{'has-error': !barcodeForm.code.$valid && barcodeForm.code.$touched}">
            <span class="input-group-btn">
          <button class="btn btn-default" ng-hide="!barcodeForm.$valid" type="submit"><i
            class="fa fa-barcode"></i></button>
            <button class="btn btn-warning" ng-show="!barcodeForm.$valid"
                    type="button"><i class="fa fa-barcode"></i></button>
         </span>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-2" ng-if="ctrl.isRoute || ctrl.isChallenge"><a class="btn btn-link" ng-click="ctrl.clear()"> Neue
      Eingabe </a></div>
    <div class="col-md-4">
      <div class="alert alert-success fadein fadeout"
           ng-show="ctrl.success">
        <p><i class="fa fa-check" aria-hidden="true"></i> Speichern erfolgreich</p>
      </div>
      <div class="alert alert-danger fadein fadeout"
           ng-show="ctrl.err">
        <p><i class="fa fa-bomb" aria-hidden="true"></i> Fehlerhafte Eingabe</p>
      </div>
    </div>
  </div>
  <form name="routeForm" ng-submit="ctrl.saveRoute(routeForm)">
    <div class="row">
      <div class="col-md-4" ng-if="ctrl.isRoute">
        <div class="form-group">
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="bahn" required ng-model="ctrl.bahn" value="50"
                     class="" checked ng-click="ctrl.calc()">
              50 Meter Bahn
            </label>
            <label class="radio-inline">
              <input type="radio" name="bahn" required ng-model="ctrl.bahn" value="43.1"
                     class="" ng-click="ctrl.calc()">
              Kurzbahn (43.1m)
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Id</label>
          <input value="{{ctrl.route.id}}" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
          <label>Strecken</label>
          <input type="text" class="form-control" placeholder="Bahnen" ng-model="ctrl.bahnen" ng-keyup="ctrl.calc()"
                 ng-maxlength="3" maxlength="3" ng-required="true">
        </div>
      </div>
      <div class="col-md-4" ng-if="ctrl.isChallenge">
        <div class="form-group">
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="strecke" required ng-model="ctrl.distance" value="400"
                     class="">
              400 m
            </label>
            <label class="radio-inline">
              <input type="radio" name="strecke" required ng-model="ctrl.distance" value="800"
                     class="">
              800 m
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Id</label>
          <input value="{{ctrl.challenge.id}}" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
          <label>Zeit geschwommen</label>
          <input type="text" name="goeFourTime" placeholder="mm:ss.xx" ng-required="true"
                 class="form-control" ng-model="ctrl.time"
                 ng-pattern="/^[0-5][0-9](\:)[0-5][0-9](\.)[0-9][0-9]$/"
                 maxlength="8">
          <span class="alert-danger"
                ng-show="form.routeForm.$error.pattern && form.goeFourTime.$touched">
								Bitte gib die Zeit in dem Format mm:ss.xx an!</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-callout bs-callout-info" ng-show="ctrl.bahn == 43.1">
          <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Kurzbahn</h4>
          <p>Du hast die Kurzbahn ausgweählt. Der Schwimmer bekommt also seine geschwommenen Bahnen nur mit 43.1m
            Multipliziert </p>
        </div>
        <div class="bs-callout bs-callout-info" ng-show="ctrl.distance > 0">
          <h4><i class="fa fa-info" aria-hidden="true"></i> Meter</h4>
          <p>{{ctrl.distance}} </p>
        </div>
        <div class="bs-callout bs-callout-info"
             ng-show="ctrl.timeErr">
          <h4><i class="fa fa-birthday-cake" aria-hidden="true"></i> Verdacht auf Weltrekord</h4>
          <p>Ich glaub mein Schwein pfeift! Hier gibt es grad einen Weltrekordsversuch. <br> Bitte sag im Orga-Büro
            bescheid, das wollen wir uns nicht entgehen lassen.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-callout bs-callout-error"
             ng-show="(ctrl.bahnen > 360 || !ctrl.getBahnenValid()) && ctrl.bahnen > 2">
          <h4><i class="fa fa-ban" aria-hidden="true"></i> Ungültige Eingabe</h4>
          <p>Deine Eingabe ist Ungültig. Entweder hast du zu viele Bahnen eingegeben oder deine Eingabe ist nicht durch
            zwei Teilbar. </p>
        </div>
        <div class="bs-callout bs-callout-error"
             ng-show="ctrl.validErr">
          <h4><i class="fa fa-ban" aria-hidden="true"></i> Validierungsfehler</h4>
          <p>Ich habe keine Ahnung was genau, aber irgendetwas stimmt hier nicht. <br> Schau doch einfach noch mal nach
            ob alles richtig ist </p>
        </div>

        <div class="bs-callout bs-callout-warning" ng-show="ctrl.bahnen >= 222">
          <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Rückseite</h4>
          <p>Du bist auf der Rückseite der Karte angekommen! Schaue genau nach ob die Vorderseite wirklich abgekreuzt
            ist! </p>
        </div>
        <div class="bs-callout bs-callout-warning" ng-show="ctrl.challenge.istZeit > 0 || ctrl.route.distance >= 100">
          <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Doppelte Bearbeitung</h4>
          <p>Diese Karte wurde schon ein mal bearbeitet. Bitte melde dich im Orga-Büro falls du Sie doch bearbeiten
            möchtest.</p>
        </div>
        <div class="bs-callout bs-callout-warning" ng-if="ctrl.challenge"
             ng-show="ctrl.distance != ctrl.challenge.strecke && ctrl.isChallenge">
          <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Streckenänderung</h4>
          <p>Du änderst grad die Angemeldete Strecke. Ist das auf der Karte auch wirklich so angegeben? </p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!ctrl.isFirstInsert">
      <div class="col-md-4">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.isFirstInsert"> Ja ich weiß, dass diese Karte schon ein mal
              Bearbeitet
              wurde.
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-show="ctrl.isRoute || ctrl.isChallenge">
        <div class="form-group">
          <button type="reset" class="btn btn-default"><i class="fa fa-eraser"></i> Zurücksetzten</button>
          <button class="btn btn-success" ng-class="{'btn-warning': !routeForm.$valid || ctrl.isFirstInsert}"><i
            class="fa fa-floppy-o"></i> Speichern
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
