<form id="ssUserForm" name="form">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group" ng-class="{'has-error': !form.billingNr.$valid && form.billingNr.$touched}">
				<label>
					Teilnehmernummer:
				</label>
				<input type="text" name="userId" placeholder="Teilnehmernummer" class="form-control"
					   ng-model="usrCtrl.userId" required>
				<!--<span class="alert-danger" ng-show="form.billingNr.$error.pattern && form.billingNr.$touched">
					  Bitte geben Sie die Rechnungsnummer in dem Format 24h-[1-99999] an!</span>-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group" ng-class="{'has-error': !form.email.$valid && form.email.$touched}">
				<label>
					Geburtsdatum:
				</label>
				<input name="date"
					   ng-pattern="/^\d{2}(\.|-|\/)\d{2}(\.|-|\/)\d{4}|\d{1}(\.|-|\/)\d{1}(\.|-|\/)\d{4}$/"
					   ng-model="usrCtrl.date" type="text" class="form-control" required placeholder="dd.MM.YYYY"
					   maxlength="10">
            <span class="alert-danger" ng-show="form.date.$error.pattern&& form.date.$touched">
              Bitte geben Sie das Datum in den Formaten "dd.MM.YYYY", "dd-MM-YYYY" oder "dd/MM/YYYY" an!</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a ng-click="usrCtrl.showParticipant()" class="btn btn-info" ng-class=" {'disabled' : !form.$valid}">Teilnehmer
				anzeigen</a>
		</div>
	</div>
</form>
<hr>
<div class="row">
	<div class="bs-callout bs-callout-error">
		<h4>Teilnehmer nicht gefunden</h4>
		<p>Zu den von Ihnen eingegbenen Daten haben wir leider keinen Benutzer gefunden.</p>
	</div>

</div>

