<div class="container">
  <div class="row"><h1>Teilnehmer anmelden</h1></div>

  <div class="row">
    <div class="col-md-3">
      <form>
        <div class="input-group">
          <input type="text" ng-model="query" class="form-control" placeholder="Auftragsnummer">
          <span class="input-group-btn">
          <button class="btn btn-default" ng-click="ctrl.searchBuchung(query)">Search</button>
        </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="teilnehmer.open"
             ng-repeat="teilnehmer in ctrl.teilnehmer">
          <uib-accordion-heading>
            <div ng-click="ctrl.loadTeilnehmer($index)">{{teilnehmer.vorname}} (Teilnehmernummer: {{teilnehmer.id}})
              <i class="pull-right glyphicon"
                 ng-class="{'glyphicon-chevron-down': teilnehmer.open, 'glyphicon-chevron-right': !teilnehmer.open}"></i>
            </div>
          </uib-accordion-heading>

          <form id="user-registration" name="form">
            <div class="row">
              <div class="col-md-4">
                <div class="bs-callout bs-callout-info" ng-show="teilnehmer.isReduced()">
                  <h4>Ermäigte Karte</h4>
                  <p>Hier nur Teilnehmer mit Ermäßigung eintragen!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <!-- Personen Daten -->
                  <label>Geschlecht</label>

                  <div class="radio" ng-class="{'has-error': !form.gender.$valid && form.gender.$touched}">
                    <label class="radio-inline">
                      <input type="radio" name="gender" required ng-model="ctrl.workTn.gender" value="m"
                             class=" ">
                      männlich
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" required ng-model="ctrl.workTn.gender" value="w"
                             class="">
                      weiblich
                    </label>
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': !form.vorname.$valid && form.vorname.$touched}">
                  <label>Vorname</label>
                  <input type="text" name="vorname" ng-model="ctrl.workTn.vorname" class="form-control"
                         placeholder="Vorname"
                         required>
                </div>
                <div class="form-group" ng-class="{'has-error': !form.nachname.$valid && form.nachname.$touched}">
                  <label>Nachname</label>
                  <input type="text" name="nachname" ng-model="ctrl.workTn.nachname" class="form-control"
                         placeholder="Nachname" required>
                </div>
                <div class="form-group" ng-class="{'has-error': !form.date.$valid && form.date.$touched}">
                  <label>Geburtsdatum</label>
                  <input name="date"
                         ng-pattern="/^\d{2}(\.|-|\/)\d{2}(\.|-|\/)\d{4}|\d{1}(\.|-|\/)\d{1}(\.|-|\/)\d{4}$/"
                         ng-model="ctrl.gebDate" type="text" class="form-control" required placeholder="dd.MM.YYYY"
                         maxlength="10">
                  <span class="alert-danger" ng-show="form.date.$error.pattern&& form.date.$touched">
              Bitte geben Sie das Datum in den Formaten "dd.MM.YYYY", "dd-MM-YYYY" oder "dd/MM/YYYY" an!</span>
                </div>
                <!-- / Personen Daten -->

              </div>
              <!-- Gruppen auswählen -->
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-10">
                    <h3>Gruppe</h3>
                  </div>
                  <div class="col-md-1">
                    <a class="btn-h3" ng-show="form.groupSelect.$touched"
                       ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
                  </div>
                </div>
                <div class="form-group">
                  <ui-select ng-model="ctrl.group" name="groupSelect">
                    <ui-select-match>
                      <span ng-bind-html="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in ctrl.groupList">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                      <small>
                        {{item.kategorieName}}
                      </small>
                    </ui-select-choices>
                  </ui-select>
                  <a class="btn btn-link {{!ctrl.group ? 'disabled' : ''}}" ng-click="ctrl.removeGroup()">Feld
                    leeren</a>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <h3>Familie</h3>
                  </div>
                  <div class="col-md-1">
                    <a class="btn-h3" ng-show="form.familySelect.$touched"
                       ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
                  </div>
                </div>
                <div class="form-group">
                  <ui-select ng-model="ctrl.family" name="familySelect">
                    <ui-select-match>
                      <span ng-bind-html="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in ctrl.families">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                      <small>
                        {{item.kategorieName}}
                      </small>
                    </ui-select-choices>
                  </ui-select>
                  <a class="btn btn-link {{!ctrl.family ? 'disabled' : ''}}" ng-click="ctrl.removeFamily()">Feld
                    leeren</a>
                </div>
                <!--  / Gruppen auswählen -->
              </div>

              <div class="col-md-3">
                <!-- Gö-Challenge -->
                <h3>Gö-Challenge</h3>

                <div class="form-group">
                  <label>
                    <input type="checkbox" ng-model="ctrl.goe4"> Gö-Challenge 400m
                  </label>

                  <div class="form-group" ng-show="ctrl.goe4"
                       ng-class="{'has-error': !form.goeFourTime.$valid && form.goeFourTime.$touched}">
                    <label>Zu erwartende Zeit</label>
                    <input type="text" name="goeFourTime" placeholder="mm:ss" ng-required="ctrl.goe4"
                           class="form-control" ng-model="ctrl.goeFourTime"
                           ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/"
                           maxlength="5">
                    <span class="alert-danger"
                          ng-show="form.goeFourTime.$error.pattern && form.goeFourTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>

                  </div>

                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" ng-model="ctrl.goe8"> Gö-Challenge 800m
                  </label>

                  <div class="form-group" ng-show="ctrl.goe8"
                       ng-class="{'has-error': !form.goeEightTime.$valid && form.goeEightTime.$touched}">
                    <label>Zu erwartende Zeit</label>
                    <input type="text" name="goeEightTime" placeholder="mm:ss" class="form-control"
                           ng-model="ctrl.goeEightTime" ng-required="ctrl.goe8" maxlength="5"
                           ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/">
                    <span class="alert-danger"
                          ng-show="form.goeEightTime.$error.pattern && form.goeEightTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-success" ng-click="ctrl.saveTeilnehmer($index,true)">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern & Weiter
                </button>
              </div>
            </div><!-- / Gö-Challenge -->
          </form>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-4" ng-show="teilnehmer.actions">
              <a href="../../../server/clientFunction/generateStreckenkarte.php?teilnehmer={{teilnehmer.id}}"
                 target="_blank">
                <i class="fa fa-print" aria-hidden="true"></i> Schwimmkarte drucken </a>
              <a href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.goe4Challenge.id}}"
                 ng-show="ctrl.goe4" target="_blank">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Zeitkarte drucken <b>(400m)</b></a>
              <a href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.goe8Challenge.id}}"
                 ng-show="ctrl.goe8" target="_blank">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Zeitkarte drucken <b>(800m)</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h2>Gespeicherte Teilnehmer</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>geschwommene Meter</th>
            <th>Aktionen</th>
          </tr>
          <tr ng-repeat="tn in ctrl.updatedTn ">
            <td>{{tn.id}}</td>
            <td ng-bind-html="tn.vorname"></td>
            <td ng-bind-html="tn.nachname"></td>
            <td> {{tn.getStreckeSum()}}</td>
            <td>
              <div class="btn-group pull-left">
                <!-- Visible without edit mode -->
                <a class="btn btn-default"
                   href="../../../server/clientFunction/generateStreckenkarte.php?teilnehmer={{tn.id}}"
                   target="_blank" title="Schwimmkarte drucken">
                  <i class="fa fa-print" aria-hidden="true"></i></a>
                <a ng-show="ctrl.printChallenge(tn,400) > 0" class="btn btn-default"
                   href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(tn,400)}}"
                   target="_blank" title="Gö-Challenge 400m drucken">
                  <i class="fa fa-print" aria-hidden="true"></i> 400</a>
                <a ng-show="ctrl.printChallenge(tn,800) > 0"
                   class="btn btn-default"
                   href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(tn,800)}}"
                   target="_blank" title="Gö-Challenge 800m drucken">
                  <i class="fa fa-print" aria-hidden="true"></i> 800</a>
              </div>
              <div class="btn-group pull-right">
                <!-- Visible without edit mode -->
                <button class="btn btn-default" ng-click="ctrl.edit(tn)">
                  <span class="glyphicon glyphicon-edit "></span>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
