<div class="navbar navbar-default navbar-static-top navbar-transparent" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-toggle" ng-init="nav.isCollapsed = true" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="https://schwimmfestival.de" target="_blank" class="navbar-brand">Schwimmfestival</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()"><a ui-sref="login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
        <li ng-show="nav.isLoggedIn()" class="dropdown" uib-dropdown>
          <a class="uib-dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true"
             aria-expanded="false"> {{nav.getCurrentUser().name}} <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu="">
            <li><a ui-sref="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
            <li><a ui-sref="anmeldung"><i class="fa fa-barcode" aria-hidden="true"></i> Anmeldung</a></li>
            <li><a ui-sref="tageskasse"><i class="fa fa-calculator" aria-hidden="true"></i> Kasse</a></li>
            <li role="separator" class="divider"></li>
            <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><i class="fa fa-cog"
                                                                                            aria-hidden="true"></i>
              Einstellungen</a></li>
            <li><a ui-sref="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
