<div class="container-fluid ">

  <div class="row">
    <div class="freibad" id="screenFiller">
      <!-- Anmeldung deaktiviert -->
      <!--<div class=" inner-div">
        <div class="jumbotron title">
          <h1 class="hero">Vorverkauf geschlossen</h1>
          <p> Natürlich gibt es ab 10 Uhr am 13.08.2016 Karten an der Tageskasse. Wir hoffen dich noch dabei zu
            haben.</p>
          <p> Wir wünsche allen bereits angemeldeten Personen ein erfolgreiches Schwimmfestival</p>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div>
              <button class="btn btn-info titleBtn" ng-click="main.moreInfo()">Mehr Info</button>
            </div>
            <a class="btn-link titleLink " ui-sref="participation" target="_blank">Teilnahmebedingungen</a>
          </div>
        </div>
      </div>
    </div>
    -->
      <!-- Anmeldung aktiv -->
      <div class=" inner-div">
        <div class="jumbotron title">
          <h1 class="hero">Zum 24 Stunden Schwimmen <br> anmelden! </h1>
        </div>
        <div class="row">
          <div class="col-md-12 form-group form-inline text-center">
            <input class="form-control titleInput" type="text" placeholder="Vorname" ng-model="main.firstname">
            <input class="form-control titleInput" type="text" placeholder="Nachname" ng-model="main.lastname">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div>
              <button class="btn btn-info titleBtn" ng-click="main.moreInfo()">Mehr Info</button>
              <button class="btn btn-success titleBtn" ng-click="main.register()">Anmelden</button>
            </div>
            <a class="btn-link titleLink " ui-sref="participation" target="_blank">Teilnahmebedingungen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
