.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.freibad {
  background: url(../../assets/images/freibad.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#screenFiller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner-div {
  width: auto;
  height: 400px;
}

.hero {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  color: #1e4dff;
}

.title {
  background: transparent;
}

.titleInput {
  height: 50px;
  color: #3c3c3c;
}

.titleBtn {
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

a.titleLink {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(9, 9, 19, 0.8);
}
