<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center success">
        <i class="fa fa-check"></i>
        <p>
          Ihre Bestellung ist bei uns eingegangen!
        </p>
      </div>
      <div class="text-center">
        <p>Sie erhalten in den nächsten Minuten eine Email in welcher Sie ihre Emailadresse bestätigen müssen.</p>
        <p>Wird die Email nicht innerhalb von drei Tagen bestätigt, werden wir Ihre Bestellung stornieren.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center space"><a class="btn btn-success" ui-sref="registration">Weitere Teilnehmer anmelden</a>
    </div>
    <div class="text-center space"><a class="btn btn-info" ng-href="http://www.schwimmfestival.de" target="_blank">Homepage
      Schwimmfestival</a></div>
    <div class="text-center space"><a class="btn btn-default" ng-href="http://www.goettingen.dlrg.de" target="_blank">Homepage
      DLRG</a></div>
  </div>
</div>
