<div class="container" ui-view="">
  <div class="row">
    <h1 class="jumbotron">Teilnehmer suchen</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form ng-submit="ctrl.updateList()">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="ctrl.searchString" placeholder="ID / Name">
            <span class="input-group-btn">
               <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>
    </div>

  </div>
  <div class="row">

    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtsdatum</th>
        <th>Verpflegung</th>
        <th>geschwommene Meter</th>
        <th>Aktionen</th>
      </tr>
      <tr ng-repeat="tn in ctrl.dataList ">
        <td>{{tn.id}}</td>
        <td ng-bind-html="tn.vorname"></td>
        <td ng-bind-html="tn.nachname"></td>
        <td>{{tn.gebDate | date: 'dd.MM.yyyy'}}</td>
        <td>
          <span ng-show="tn.hasBreakfast()">F | </span>
          <span ng-show="tn.hasLunch()">M | </span>
          <span ng-show="tn.hasDinner()">A</span>
        </td>
        <td> {{tn.getStreckeSum()}}</td>
        <td>
          <div class="btn-group pull-left">
            <!-- Visible without edit mode -->
            <a class="btn btn-default"
               href="../../../server/clientFunction/generateStreckenkarte.php?teilnehmer={{tn.id}}"
               target="schwimmkarte" title="Schwimmkarte drucken">
              <i class="fa fa-print" aria-hidden="true"></i></a>
            <a ng-show="ctrl.printChallenge(tn,400) > 0"
               class="btn btn-default"
               href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(tn,400)}}"
               target="Goe_Challenge" title="Gö-Challenge 400m drucken">
              <i class="fa fa-print" aria-hidden="true"></i> 400</a>
            <a ng-show="ctrl.printChallenge(tn,800) > 0" class="btn btn-default"
               href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(tn,800)}}"
               target="Goe_Challenge" title="Gö-Challenge 800m drucken">
              <i class="fa fa-print" aria-hidden="true"></i> 800</a>
            <a class="btn btn-default" href="../../../../server/clientFunction/urkunde.php?tnId={{tn.id}}"
               title="Urkunde anzeigen" target="urkunde"><i class="fa fa-bar-chart"></i></a>
          </div>
          <div class="btn-group pull-right">
            <!-- Visible without edit mode -->
            <button class="btn btn-default" ng-click="ctrl.edit(tn)">
              <span class="glyphicon glyphicon-edit "></span>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
