<div class="container-float">
  <div class="row">
    <h1 class="jumbotron">Rechnungen</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Filter" ng-model="query">

          </div>

        </div>
      </form>
    </div>
    <div class="col-md-3">
      <select ng-model="ctrl.selectedFilter"
              class="form-control" ng-change="ctrl.updateList()">
        <option value="">alle</option>
        <option value="offen">offen</option>
        <option value="bezahlt">bezahlt</option>
        <option value="storniert">storniert</option>

      </select>
    </div>
    <div class="col-md-2">
      <toggle-switch
        ng-init="ctrl.savedMail"
        ng-model="ctrl.savedMail"
        ng-change="ctrl.saveMail()"
        html="true"
        title="Email versenden"
        knob-label="<i class='fa fa-envelope-o'></i>">
      </toggle-switch>
    </div>

  </div>
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Empfänger</th>
        <th>Status</th>
        <th>Versandart</th>
        <th>Letzte Mahnung (Anz.)</th>
        <th>Rechnungsstellung</th>
        <th>Betrag</th>
        <th>Geldeingang</th>
        <th>Aktionen</th>
      </tr>
      <tr ng-repeat="bill in ctrl.billList | filter:query |orderBy: 'datum'" ng-click="ctrl.setSelected(bill.id)"
          ng-class="{'info': bill.id == ctrl.idSelectedRow}">
        <td>{{bill.id}}</td>
        <td ng-bind-html="ctrl.getName(bill)"></td>
        <td> {{bill.getStatus()}}</td>
        <td> {{bill.versand}}</td>
        <td> {{ctrl.getLastDate(bill)| date:"dd.MM.yyyy"}} ({{bill.mahnungen.length}})</td>
        <td> {{bill.datum | date:'dd.MM.yyyy'}}</td>
        <td>{{bill.rechnungsbetrag}} €</td>
        <td>
          <div ng-hide="ctrl.editingData[bill.id]">{{bill.geldeingang | date:'dd.MM.yyyy'}}</div>
          <div ng-show="ctrl.editingData[bill.id]">
            <p class="input-group" style="width: 150px;">
              <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="ctrl.dt"
                     is-open="opened" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened=true"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>
        </td>

        <td>
          <div class="btn-group pull-left">
            <!-- Visible without edit mode -->
            <button class="btn btn-default" ng-click="ctrl.sendWarning(bill, 'Zahlungserinnerung')"
                    title="Zahlungserinnerung versenden"
                    ng-hide="ctrl.editingData[bill.id]"><i class="fa fa-bell" aria-hidden="true"></i></button>
            <a class="btn btn-default" ng-hide="bill.id <= 0"
               href="../../../../server/Rechnungen/24h-{{bill.id}}Rechnung.pdf"
               target="24h-Rechnung" title="Rechnung anzeigen">
              <i class="fa fa-eye" aria-hidden="true"></i></a>
            <!-- Visible only at edit mode -->
            <button class="btn btn-warning" ng-click="ctrl.sendWarning(bill, 'Mahnung')"
                    title="Mahnung versenden" ng-show="ctrl.editingData[bill.id]"
            ><i class="fa fa-bell" aria-hidden="true"></i></button>
            <button class="btn btn-danger" title="Rechnung stornieren" ng-click="ctrl.storno(bill)"
                    ng-show="ctrl.editingData[bill.id]">
              <i class="fa fa-bomb" aria-hidden="true"></i>
            </button>
            <toggle-switch
              ng-init="ctrl.sendMail"
              html="true"
              title="Email versenden"
              knob-label="<i class='fa fa-envelope-o'></i>" ng-model="ctrl.sendMail"
              ng-show="ctrl.editingData[bill.id]">
            </toggle-switch>
          </div>
          <div class="btn-group pull-right">
            <!-- Visible without edit mode -->

            <button class="btn " ng-click="ctrl.modify(bill)"
                    ng-hide="ctrl.editingData[bill.id]"><span
              class="glyphicon glyphicon-edit "></span></button>
            <a class="btn btn-default" ng-hide="ctrl.editingData[bill.id]"
               ui-sref="dashboard.buchung.edit({id: {{bill.idBuchung}}})" title="Buchung bearbeiten">
              <i class="fa fa-wpforms" aria-hidden="true"></i></a>

            <!-- Visible only at edit mode -->

            <button class="btn btn-success" ng-click="ctrl.update(bill)"
                    ng-show="ctrl.editingData[bill.id]" title="Änderung übernehmen"><span
              class="glyphicon  glyphicon-ok "></span></button>
            <button class="btn btn-warning" ng-click="ctrl.cancel(bill)" ng-show="ctrl.editingData[bill.id]"
                    title="Änderung verwerfen"><span
              class="glyphicon  glyphicon-remove "></span></button>


          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
