<div class="row">
  <h1 class="jumbotron">Teilnehmer bearbeiten</h1>
</div>
<div class="row">
  <div class="col-md1">
    <a ui-sref="dashboard.teilnehmer" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i>
      Zurück zur Suche</a>
  </div>
</div>
<form id="user-registration" name="form" ng-submit="ctrl.saveTeilnehmer()">
  <div class="row" ng-if="ctrl.isInit">
    <div class="col-md-4">
      <div class="bs-callout bs-callout-info">
        <h3>Aktionen</h3>
        <div class="form-group">
          <a ng-click="ctrl.isEditing = true" ng-show="!ctrl.isEditing" class="btn btn-default"><i
            class="fa fa-edit" aria-hidden="true"></i> Bearbeiten
          </a>
          <div ng-show="ctrl.isEditing">
            <button class="btn btn-danger" ng-click="ctrl.cancelEditing(ctrl.tnId)">
              <i class="fa fa-times" aria-hidden="true"></i> Abbrechen
            </button>
            <button class="btn btn-warning" ng-hide="form.$valid" type="submit">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern
            </button>
            <button class="btn btn-success" ng-show="form.$valid" type="submit">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern
            </button>
          </div>
          <div ng-show="!ctrl.isEditing">
            <a class="btn btn-default"
               href="../../../server/clientFunction/generateStreckenkarte.php?teilnehmer={{ctrl.tn.id}}"
               target="schwimmkarte" title="Schwimmkarte drucken">
              <i class="fa fa-print" aria-hidden="true"></i></a>
            <a ng-show="ctrl.printChallenge(ctrl.tn,400) > 0 "
               class="btn btn-default"
               href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(ctrl.tn,400)}}"
               target="Goe_Challenge" title="Gö-Challenge 400m drucken">
              <i class="fa fa-print" aria-hidden="true"></i> 400</a>
            <a ng-show="ctrl.printChallenge(ctrl.tn,800) > 0 " class="btn btn-default"
               href="../../../server/clientFunction/generateZeitkarte.php?challenge={{ctrl.printChallenge(ctrl.tn,800)}}"
               target="Goe_Challenge" title="Gö-Challenge 800m drucken">
              <i class="fa fa-print" aria-hidden="true"></i> 800</a>
            <a class="btn btn-default" href="../../../../server/clientFunction/urkunde.php?tnId={{ctrl.tn.id}}"
               title="Urkunde anzeigen" target="urkunde"><i class="fa fa-bar-chart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-callout bs-callout-info">
        <h3>Informationen</h3>
        <table class="table">
          <col align="left">
          <col align="center">
          <tr>
            <td><i class="fa fa-road" aria-hidden="true"></i> Gesammtstrecke:</td>
            <td>{{ctrl.tn.getStreckeSum()}}</td>
          </tr>
          <tr>
            <td><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Schwimmkarten:</td>
            <td>{{tn.routes.length | number}}</td>
          </tr>
          <tr ng-repeat="ch in ctrl.tn.challenges">
            <td><i class="fa fa-clock-o" aria-hidden="true"></i> Gö-Challenge ({{ch.strecke}}m):</td>
            <td>{{ch.getIstZeitReadable()}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <div class="bs-callout bs-callout-info">
        <h3>Essen</h3>
        <table class="table">
          <tr>
            <td>Frühstück:</td>
            <td>
              <i class="fa fa-check" aria-hidden="true" ng-show="ctrl.tn.hasBreakfast()"></i>
              <i class="fa fa-times" aria-hidden="true" ng-show="!ctrl.tn.hasBreakfast()"></i>
            </td>
          </tr>
          <tr>
            <td>Mittag:</td>
            <td>
              <i class="fa fa-check" aria-hidden="true" ng-show="ctrl.tn.hasLunch()"></i>
              <i class="fa fa-times" aria-hidden="true" ng-show="!ctrl.tn.hasLunch()"></i>
            </td>
          </tr>
          <tr>
            <td>Abendessen:</td>
            <td>
              <i class="fa fa-check" aria-hidden="true" ng-show="ctrl.tn.hasDinner()"></i>
              <i class="fa fa-times" aria-hidden="true" ng-show="!ctrl.tn.hasDinner()"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <!-- Personen Daten -->
        <label>Geschlecht</label>

        <div class="radio" ng-class="{'has-error': !form.gender.$valid && form.gender.$touched}">
          <label class="radio-inline">
            <input type="radio" name="gender" ng-disabled="!ctrl.isEditing" required ng-model="ctrl.tn.gender" value="m"
                   class=" ">
            männlich
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" ng-disabled="!ctrl.isEditing" required ng-model="ctrl.tn.gender" value="w"
                   class="">
            weiblich
          </label>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': !form.vorname.$valid && form.vorname.$touched}">
        <label>Vorname</label>
        <input type="text" name="vorname" ng-model="ctrl.tn.vorname"
               class="form-control"
               placeholder="Vorname" ng-disabled="!ctrl.isEditing"
               required>
      </div>
      <div class="form-group" ng-class="{'has-error': !form.nachname.$valid && form.nachname.$touched}">
        <label>Nachname</label>
        <input type="text" name="nachname" ng-model="ctrl.tn.nachname"
               class="form-control"
               placeholder="Nachname" required ng-disabled="!ctrl.isEditing">
      </div>
      <div class="form-group" ng-class="{'has-error': !form.date.$valid && form.date.$touched}">
        <label>Geburtsdatum</label>
        <input name="date"
               ng-pattern="/^\d{2}(\.|-|\/)\d{2}(\.|-|\/)\d{4}|\d{1}(\.|-|\/)\d{1}(\.|-|\/)\d{4}$/"
               ng-model="ctrl.gebDate" type="text" class="form-control" required placeholder="dd.MM.YYYY"
               maxlength="10" ng-disabled="!ctrl.isEditing">
        <span class="alert-danger" ng-show="form.date.$error.pattern && form.date.$touched">
              Bitte geben Sie das Datum in den Formaten "dd.MM.YYYY", "dd-MM-YYYY" oder "dd/MM/YYYY" an!</span>
      </div>
      <!-- / Personen Daten -->

    </div>
    <!-- Gruppen auswählen -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-10">
          <h3>Gruppe</h3>
        </div>
        <div class="col-md-1">
          <a class="btn-h3" ng-show="form.groupSelect.$touched" ng-disabled="!ctrl.isEditing"
             ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="form-group">
        <ui-select ng-model="ctrl.group" name="groupSelect" ng-disabled="!ctrl.isEditing">
          <ui-select-match>
            <span ng-bind-html="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in ctrl.groupList">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
            <small>
              {{item.kategorieName}}
            </small>
          </ui-select-choices>
        </ui-select>
        <a class="btn btn-link {{!ctrl.group ? 'disabled' : ''}}" ng-click="ctrl.group = null"
           ng-disabled="!ctrl.isEditing">Feld
          leeren</a>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h3>Familie</h3>
        </div>
        <div class="col-md-1">
          <a class="btn-h3" ng-show="form.familySelect.$touched" ng-disabled="!ctrl.isEditing"
             ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="form-group">
        <ui-select ng-model="ctrl.family" name="familySelect" ng-disabled="!ctrl.isEditing">
          <ui-select-match>
            <span ng-bind-html="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in ctrl.families">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
            <small>
              {{item.kategorieName}}
            </small>
          </ui-select-choices>
        </ui-select>
        <a class="btn btn-link {{!ctrl.family ? 'disabled' : ''}}" ng-disabled="!ctrl.isEditing"
           ng-click="ctrl.family = null">Feld
          leeren</a>
      </div>
      <!--  / Gruppen auswählen -->
    </div>

    <div class="col-md-3">
      <!-- Gö-Challenge -->
      <h3>Gö-Challenge</h3>

      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="ctrl.goe4" ng-disabled="!ctrl.isEditing"> Gö-Challenge 400m
        </label>

        <div class="form-group" ng-show="ctrl.goe4"
             ng-class="{'has-error': !form.goeFourTime.$valid && form.goeFourTime.$touched}">
          <label>Zu erwartende Zeit</label>
          <input type="text" name="goeFourTime" placeholder="mm:ss" ng-required="ctrl.goe4"
                 class="form-control" ng-model="ctrl.goeFourTime"
                 ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/" ng-disabled="!ctrl.isEditing"
                 maxlength="5">
          <span class="alert-danger"
                ng-show="form.goeFourTime.$error.pattern && form.goeFourTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>

        </div>

      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="ctrl.goe8" ng-disabled="!ctrl.isEditing"> Gö-Challenge 800m
        </label>

        <div class="form-group" ng-show="ctrl.goe8"
             ng-class="{'has-error': !form.goeEightTime.$valid && form.goeEightTime.$touched}">
          <label>Zu erwartende Zeit</label>
          <input type="text" name="goeEightTime" placeholder="mm:ss" class="form-control"
                 ng-model="ctrl.goeEightTime" ng-required="ctrl.goe8" maxlength="5"
                 ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/" ng-disabled="!ctrl.isEditing">
          <span class="alert-danger"
                ng-show="form.goeEightTime.$error.pattern && form.goeEightTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>
        </div>
      </div>
    </div>
  </div>

</form>
<div class="row">
  <div class="col-md-12">
    <h2>Strecken</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Distanz</th>
        <th>Uhrzeit</th>
      </tr>
      <tr ng-repeat="route in ctrl.tn.routes | orderBy :'-time'">
        <td>{{route.id}}</td>
        <td>{{route.distance}}</td>
        <td>{{route.time | date : 'HH:mm:ss'}}</td>
      </tr>
    </table>
  </div>
</div>


