<div class="container">
  <div class="jumbotron">
    <h1>Anmeldung</h1>
  </div>
  <div class="row" ng-show="ctrl.add">
    <form id="user-registration" name="form" ng-submit="ctrl.addParticipant(form)">
      <h2>Teilnehmer hinzufügen</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Geschlecht</label>

            <div class="radio" ng-class="{'has-error': !form.gender.$valid && form.gender.$touched}">
              <label class="radio-inline">
                <input type="radio" name="gender" required ng-model="ctrl.participant.gender" value="m"
                       class=" ">
                männlich
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" required ng-model="ctrl.participant.gender" value="w"
                       class="">
                weiblich
              </label>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': !form.vorname.$valid && form.vorname.$touched}">
            <label>Vorname</label>
            <input type="text" name="vorname" ng-model="ctrl.vorname" class="form-control"
                   placeholder="Vorname"
                   required>
          </div>
          <div class="form-group" ng-class="{'has-error': !form.nachname.$valid && form.nachname.$touched}">
            <label>Nachname</label>
            <input type="text" name="nachname" ng-model="ctrl.nachname" class="form-control"
                   placeholder="Nachname" required>
          </div>
          <div class="form-group" ng-class="{'has-error': !form.date.$valid && form.date.$touched}">
            <label>Geburtsdatum</label>
            <input name="date"
                   ng-pattern="/^\d{2}(\.|-|\/)\d{2}(\.|-|\/)\d{4}|\d{1}(\.|-|\/)\d{1}(\.|-|\/)\d{4}$/"
                   ng-model="ctrl.date" type="text" class="form-control" required placeholder="dd.MM.YYYY"
                   maxlength="10">
            <span class="alert-danger" ng-show="form.date.$error.pattern&& form.date.$touched">
              Bitte geben Sie das Datum in den Formaten "dd.MM.YYYY", "dd-MM-YYYY" oder "dd/MM/YYYY" an!</span>
          </div>
          <div></div>
          <div class="form-group">
            <label>Eintritt</label>

            <div class="radio" ng-repeat="price in ctrl.preSell"
                 ng-class="{'has-error': !form.type.$valid && form.type.$touched}">
              <label class="radio-inline">
                <input type="radio" name="type" value="{{price.id}}" ng-model="ctrl.type" required>
                <span ng-bind-html="price.name"></span><span>{{" (" + price.preis + "€)" }}</span>
              </label>
            </div>
            <p class="bs-callout bs-callout-info" ng-show="ctrl.type == 11">
              Ermäßigt sind Kinder und Jugendliche (bis 17 Jahren) sowie Schüler, Studenten (bis 30 Jahre) und
              Schwerbehinterte </p>
            <div class="bs-callout bs-callout-warning" ng-show="ctrl.type == 11">
              <h4>Ausweispflicht</h4>
              <p>Wenn Sie Tickets zum ermäßigten Tarif
                kaufen, müssen
                Sie die entsprechenden Bescheinigungen an der Kasse vorweisen. <br> Können Sie sich am Tag
                selber nicht
                ausweisen, müssen wir leider den Differenzbetrag zum normalen Tagesticket berechnen.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-10">
              <h3>Gruppe</h3>
            </div>
            <div class="col-md-1">
              <a class="btn-h3" ng-show="form.groupSelect.$touched"
                 ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
            </div>
          </div>
          <div class="form-group">
            <ui-select ng-model="ctrl.group" name="groupSelect">
              <ui-select-match>
                <span ng-bind-html="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in ctrl.groupList">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <small>
                  {{item.kategorieName}}
                </small>
              </ui-select-choices>
            </ui-select>
            <a class="btn btn-link {{!ctrl.group ? 'disabled' : ''}}" ng-click="ctrl.removeGroup()">Feld leeren</a>
          </div>
          <div class="row">
            <div class="col-md-10">
              <h3>Familie</h3>
            </div>
            <div class="col-md-1">
              <a class="btn-h3" ng-show="form.familySelect.$touched"
                 ng-click="ctrl.addNewGroup()"><i class="fa fa-plus-circle"></i></a>
            </div>
          </div>
          <div class="form-group">
            <ui-select ng-model="ctrl.family" name="familySelect">
              <ui-select-match>
                <span ng-bind-html="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in ctrl.families">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <small>
                  {{item.kategorieName}}
                </small>
              </ui-select-choices>
            </ui-select>
            <a class="btn btn-link {{!ctrl.family ? 'disabled' : ''}}" ng-click="ctrl.removeFamily()">Feld leeren</a>
          </div>

        </div>
        <div class="col-md-3">
          <div ng-hide="form.groupSelect.$touched" class="bs-callout bs-callout-info">
            <p>Bitte schauen Sie erst in einer Liste, nach ob es die gewünschte Gruppe oder Familie schon gibt.</p>
          </div>
          <div ng-show="form.groupSelect.$touched" class="bs-callout bs-callout-info">
            <h4>Gruppenrabatt</h4>
            <p>Jeder elfte Teilnehmer einer Bestellung bezahlt keinen Eintritt.</p>
          </div>

          <h3>Essen</h3>

          <div class="checkbox" style="margin-bottom: 20px">
            <label>
              <input type="checkbox" ng-model="ctrl.veggie" ng-click="ctrl.switchVeggi()"> <span>Vegetarisch</span>
            </label>
          </div>
          <div class="checkbox" ng-repeat="food in ctrl.foodList">
            <label>
              <input type="checkbox" ng-model="food.key" ng-click="ctrl.switchFood(food.id, food.key)"
                     ng-checked="food.key" ng-init="food.key = true"> <span
              ng-bind-html="food.name"></span> <span>({{food.preis}}€)</span>
            </label>
          </div>
          <hr>


          <h3>Gö-Challenge</h3>

          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="ctrl.goe4"> Gö-Challenge 400m
            </label>

            <div class="form-group" ng-show="ctrl.goe4"
                 ng-class="{'has-error': !form.goeFourTime.$valid && form.goeFourTime.$touched}">
              <label>Zu erwartende Zeit</label>
              <input type="text" name="goeFourTime" placeholder="mm:ss" ng-required="ctrl.goe4"
                     class="form-control" ng-model="ctrl.goeFourTime"
                     ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/"
                     maxlength="5">
							<span class="alert-danger"
                    ng-show="form.goeFourTime.$error.pattern && form.goeFourTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>

            </div>

          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="ctrl.goe8"> Gö-Challenge 800m
            </label>

            <div class="form-group" ng-show="ctrl.goe8"
                 ng-class="{'has-error': !form.goeEightTime.$valid && form.goeEightTime.$touched}">
              <label>Zu erwartende Zeit</label>
              <input type="text" name="goeEightTime" placeholder="mm:ss" class="form-control"
                     ng-model="ctrl.goeEightTime" ng-required="ctrl.goe8" maxlength="5"
                     ng-pattern="/^[0-5][0-9](\:)[0-5][0-9]$/">
              <span class="alert-danger"
                    ng-show="form.goeEightTime.$error.pattern && form.goeEightTime.$touched">
								Bitte geben Sie die Zeit in dem Format mm:ss an!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-warning" ng-hide="form.$valid" type="submit">Person dem Warenkorb
            hinzufügen
          </button>
          <button id="addUser" class="btn btn-success" ng-show="form.$valid" type="submit">Person dem Warenkorb
            hinzufügen
          </button>
          <a ng-click="ctrl.add = false">Eingabe ausblenden</a>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-success" ng-click="ctrl.add = true" ng-hide="ctrl.add"><span
        class="fa fa-plus"></span></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsdatum</th>
            <th>Geschlecht</th>
            <th>Ermäßigt</th>
            <th colspan="{{ctrl.foodListCount}}" class="text-center">Essen</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th ng-repeat="food in ctrl.foodList">{{food.name.charAt(0)}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="participant in ctrl.participantList">
            <td ng-bind-html="participant.vorname"></td>
            <td ng-bind-html="participant.nachname"></td>
            <td>{{participant.gebDate | date: 'dd.MM.yyyy'}}</td>
            <td>
              <i ng-show="participant.gender == 'w'" class="fa fa-female"></i>
              <i ng-show="participant.gender == 'm'" class="fa fa-male"></i>
            </td>
            <td>
              <i ng-show="participant.isReducedPreSell()" class="fa fa-check"></i>
              <i ng-show="participant.isNormalPreSell()" class="fa fa-times"></i>
            </td>
            <td>
              <i ng-show="participant.hasBreakfast()" class="fa fa-check"></i>
            </td>
            <td>
              <i ng-show="participant.hasLunch()" class="fa fa-check"></i>
            </td>
            <td>
              <i ng-show="participant.hasDinner()" class="fa fa-check"></i>
            </td>
            <td>
              <button class="btn btn-danger" ng-click="ctrl.removeParticipant(participant)"><span
                class="glyphicon  glyphicon-trash "></span></button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-danger" ui-sref="main">Abbrechen</a>
    </div>
    <div class="col-md-offset-9 col-md-1">
      <a class="btn btn-info {{ctrl.participantList.length == 0 ? 'disabled' : ''}}" ui-sref="cashpoint"
         ng-click="ctrl.goToCashpoint()">Zur Kasse</a>
    </div>
    <div class="col-md-offset-8 col-md-4">
      <p ng-show="ctrl.participantList.length > 0" class="bs-callout bs-callout-info">Auf der nächsten Seite bekommen
        Sie eine
        Detalierte Auflistung über die
        Preise</p>
    </div>
  </div>
</div>

