<div class="container">
  <div class="row">
    <div class="col-md-8"><h1>Benutzer verwalten</h1></div>
  </div>
  <p ng-show="!ctrl.isAdmin">
    Du hast nicht die benötigten Rechte für diese Seite.
  </p>
  <div class="row" ng-show="ctrl.isAdmin">
    <div class="col-md-8">
      <div class="alert alert-warning" ng-show="ctrl.message">
        <a class="close" ng-click="ctrl.closeMessage()" aria-label="close">&times;</a>
        <strong>Achtung:</strong> {{ctrl.message}}
      </div>

      <div class="row">
        <h2>Benutzer bearbeiten</h2>

        <form ng-submit="ctrl.searchUser()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Name, Email, ..." ng-model="ctrl.search">
            <span class="input-group-btn">
              <input class="btn btn-success" type="submit" value="Benutzer suchen">
            </span>
          </div>
        </form>

        <table class="table table-striped" ng-show="ctrl.userList.length != 0">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Bearbeiten</th>
          </tr>
          <tr ng-repeat="user in ctrl.userList | filter:query |orderBy: 'name'"
              ng-class="{'info': bill.id == ctrl.idSelectedRow}">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.mail}}</td>
            <td>
              <div class="btn-group pull-left">
                <button class="btn btn-default" ng-click="ctrl.selectUser(user)" title="Bearbeiten">
                  <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </table>


        <form ng-show="ctrl.editUser" name="editUser" ng-submit="ctrl.saveChanges()">
          <hr>
          <input type="hidden" ng-model="ctrl.change.id">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.change.name" required>
          </div>
          <div class="form-group">
            <label>Email Addresse</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="ctrl.change.mail" required>
          </div>
          <div class="form-group">
            <label>Passwort</label>
            <input type="password" class="form-control" placeholder="Passwort" ng-model="ctrl.change.password">
            <p class="help-block"
               ng-show="(editUser.password.$error.minlength || editUser.password.$error.required) && editUser.password.$dirty">
              Passwort muss mindestens 8 Zeichen lang sein.
            </p>
          </div>
          <div class="form-group">
            <label>Passwort wiederholen</label>
            <input type="password" class="form-control" placeholder="Passwort" ng-model="ctrl.change.confirmPassword">
          </div>

          <label>Rechte</label>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="permission in ctrl.permission">
              {{permission.name}}
              <div class="material-switch pull-right">
                <input id="permission_{{$index}}" type="checkbox" ng-model="ctrl.change.permissions[permission.id]">
                <label for="permission_{{$index}}" class="label-primary"></label>
              </div>
            </li>
          </ul>
          <button type="button" class="btn-warning btn" ng-click="ctrl.closeChanges()">Abbrechen</button>
          <button type="submit" class="btn-success btn">Änderungen speichern</button>
        </form>
      </div>

      <div class="row">
        <div class="row">
          <div class="col-md-11"><h2>Neuer Benutzer</h2></div>
          <div class="col-md-1" id="addUserToggles">
            <button class="btn" ng-click="ctrl.expandNewUser()" ng-show="!ctrl.showAdd">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button class="btn" ng-click="ctrl.collapseNewUser()" ng-show="ctrl.showAdd">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <form ng-submit="ctrl.addUser()" ng-show="ctrl.showAdd" name="addUser">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.user.name" required>
          </div>
          <div class="form-group">
            <label>Email Addresse</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="ctrl.user.mail" required>
          </div>
          <div class="form-group">
            <label>Passwort</label>
            <input type="password" class="form-control" name="password" placeholder="Passwort"
                   ng-model="ctrl.user.password" ng-minlength="8" required>
            <p class="help-block"
               ng-show="(addUser.password.$error.minlength || addUser.password.$error.required) && addUser.password.$dirty">
              Passwort muss mindestens 8 Zeichen lang sein.
            </p>
          </div>
          <div class="form-group">
            <label>Passwort wiederholen</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Passwort"
                   ng-model="ctrl.user.confirmPassword" required>
          </div>
          <button type="submit" class="btn-success btn">Benutzer anlegen</button>
        </form>
      </div>
    </div>
  </div>
</div>
