<div class="nav navbar-nav side-nav" id="sidebar" role="navigation" ng-controller="DashnavController">
  <ul class="nav nav-pills nav-stacked">
    <li class="navbar-brand">Navigation</li>
    <li ui-sref-active="active">
      <a ui-sref="dashboard">Dashboard</a>
    </li>
    <li ng-repeat="item in dashNav.menu" ui-sref-active="active">
      <a ui-sref="{{item.state}}" ng-show="dashNav.hasRole(item.role)">{{item.title}}</a>
    </li>
  </ul>

</div>
