.mainSidebar {
  min-height: 100%;
  background-color: #505050;
}

.sidebarNav {
  position: fixed;
  top: 51px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.sidebarItem {
  position: relative;
  margin: 0;
  padding: 0;
}
