<div class="container">
  <div class="col-md-3">
    <ul class="nav sidebar">
      <li ng-repeat="item in ssCtrl.buchung" ui-sref-active="sidebarActive">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
      </li>

    </ul>
  </div>

  <div class="col-md-9" ui-view=""></div>


</div>
