<div class="container">
  <h4>Datenschutz</h4>

  <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
    personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerklärung.
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
    Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies,
    soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
    Dritte weitergegeben.
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
    Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    Datenschutzerklärung wegen der Verwendung von Piwik</p>

  <h4>Datenschutzerklärung wegen der Verwendung von Piwik</h4>
  <p>Auf unserer Internetseite wird der Webanalysedienst Piwik eingesetzt. Piwik ist eine Open-Source-Software, welche
    die Zugriffe der Webseitenbesucher auswertet. Die Analyse wird mittels Cookies, das sind Textdateien, ermöglicht.
    Die Cookies sammeln Informationen hinsichtlich Ihrer Nutzung unserer Internetseite. Diese werden auf einem Server
    von Piwik in Deutschland gespeichert. Ihre IP-Adresse wird noch zuvor anonymisiert. Sie haben allerdings die
    Möglichkeit, zu verhindern, dass Cookies von Piwik auf Ihrem Computer gespeichert werden. Hierzu müssen Sie die
    Einstellungen an Ihrem Internetbrowser entsprechend modifizieren. Dies kann dazu führen, dass Sie unsere
    Internetseite nicht im kompletten Umfang verwenden können. Angabe der Quelle: Flegl Rechtsanwälte GmbH
    Auskunft, Löschung, Sperrung</p>

  <h4>Auskunft, Löschung, Sperrung</h4>
  <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren
    Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder
    Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit
    unter der im Impressum angegebenen Adresse an uns wenden.
    Server-Log-Files</p>
  <h4>Server-Log-Files</h4>
  <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr
    Browser automatisch an uns übermittelt. Dies sind:
  </p>
  <div class="bs-callout bs-callout-info">
    <samp>Browsertyp/ Browserversion</samp><br>
    <samp>verwendetes Betriebssystem</samp><br>
    <samp>Referrer URL</samp><br>
    <samp>Hostname des zugreifenden Rechners</samp><br>
    <samp>Uhrzeit der Serveranfrage</samp><br>
  </div>
  <p> Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen
    Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete
    Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
    Cookies</p>
  <h4>Cookies</h4>
  <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an
    und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
    machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
    Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs
    automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies
    ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im
    Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische
    Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die
    Funktionalität dieser Website eingeschränkt sein.
    Kontaktformular</p>
  <h4>Kontaktformular</h4>
  <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive
    der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen
    bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
    Widerspruch Werbe-Mails</p>
  <h4>Widerspruch Werbe-Mails</h4>
  <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
    ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der
    Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen,
    etwa durch Spam-E-Mails, vor.
  </p>
  <div class="bs-callout bs-callout-info">
    <h4>Speicherung personenbezogener Daten</h4>
    <p>
      Der/die Besteller(in) willigt ein, dass seine/ihre Daten für die Bearbeitung gespeichert werden dürfen.
    </p>
    <p>
      Desweiteren bestätigt der/die Besteller(in), dass er/sie die Erlaubnis besitzt, dass er die Daten aller Teilnehmer(innen) an den
      Veranstalter übertragen darf.
    </p>
  </div>
</div>




